# Python
venv/
__pycache__/
*.pyc
.env
instance/

# MAC
.DS_Store
**/.DS_Store

# Projet RAG finance
Agent conversationnel RAG - finance/vectorstore/*
!Agent conversationnel RAG - finance/vectorstore/.gitkeep
Agent conversationnel RAG - finance/data/pdfs/*
!Agent conversationnel RAG - finance/data/pdfs/.gitkeep